{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
             <b>
                Сортировать по:
                <b style="margin: 10px"><a href="/catalog/?sort=name">Названию</a></b>
                <b style="margin: 10px"></b><a href="/catalog/?sort=min_price">начиная с дешевых</a></b>
                <b style="margin: 10px"><a href="/catalog/?sort=max_price">начиная с дорогих</a></b>

            </p>
        </div>

        <div class="content">
            {% for phone in phones %}
            <h2><a href="/catalog/{{phone.slug}}">{{ phone.name }}</a></h2>
            <p class="price">Стоимость: {{ phone.price}} руб.</p>
            <img src={{phone.image}} height="500">
            {% endfor %}
        </div>
    </div>
{% endblock %}